<nav class="navbar navbar-light navbar-expand-md" style="background: rgb(251,179,90);height: 70px;">
    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-lg-5 col-xl-4" style="height: 550px;background: rgb(3,52,97);">
                        <div class="login-card">
                            <h4 class="text-center" style="font-weight: bold;color: rgb(3,52,97);">Welcome!</h4>
                            <p class="profile-name-card"> <img src="assets/img/cropped_logo.png" style="width: 110px;margin-bottom: 20px;"></p>
                            <form class="form-signin" method="post" action="/login"><span class="reauth-email"> </span><input class="form-control" type="" name="username" id="username" required="" autofocus="" placeholder="Email Address"><input class="form-control" type="password" name="password" id="password" required="" placeholder="Password" style="margin-bottom: 20px;">
                                <div class="checkbox">
                                    <div class="form-check" style="margin-bottom: 20px;"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Remember me</label></div>
                                </div><button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" style="background: rgb(251,179,90);margin-top: 10px;">Sign in</button>
                            </form><a class="forgot-password" href="#" style="border-color: rgb(0,0,0);color: rgb(3,52,97);">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow mb-4">
                            <div class="card-body" style="background: url(&quot;assets/img/login_img.jpg&quot;);height: 550px;">
                                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    <h3 class="text-dark mb-0"></h3>
                                </div>
                                <h1 class="text-right" style="color: rgb(255,255,255);font-weight: bold;font-size: 30px;">Concrete for high-quality building</h1>
                                <h5 class="text-right" style="font-weight: bold;color: rgb(255,255,255);">Make a concrete decision</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © JM Aquino Trading and Services 2021</span></div>
            </div>
        </footer>
    </div>
</div>