<!DOCTYPE html>
<html>

{{#if reports}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>report</title>
    <link rel="stylesheet" href="../reportAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata">
    <link rel="stylesheet" href="../reportAssets/css/styles.css">
</head>

<body>
    {{{body}}}

    <script src="../reportAssets/js/jquery.min.js"></script>
    <script src="../reportAssets/bootstrap/js/bootstrap.min.js"></script>

</body>
{{else}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <link rel="icon" href="../../assets/img/cropped_logo.png" type="image/gif" sizes="16x16">
    <title>JM Aquino Trading and Services</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,300italic,700italic">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="../assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../assets/css/Navbar.css">
    <link rel="stylesheet" href="../assets/css/NZDropdown---Single.css">
    <link rel="stylesheet" href="../assets/css/NZDropdown-Singlee.css">
    <link rel="stylesheet" href="../assets/css/reports.css">
    <link rel="stylesheet" href="../assets/css/TR-Form.css">
    <link rel="stylesheet" href="../assets/css/AutoComplete.css">
    <link rel="stylesheet" href="../assets/css/dataTables.css">

    <script src="../assets/js/jquery.min.js"></script>
</head>

<body id="page-top">
    {{> messages}}
    {{#if session}}
        <div id="wrapper">
            {{> nav}}
            {{> content}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}

    <script src="../assets/js/notification.js"></script>
    <script src="../assets/js/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="../assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/Multi-step-form.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script type="text/javascript">
        {{#if session}}
        var employee = '{{{employee}}}';
        {{/if}}
        $(document).ready(function() {
            $(document).on('click', function() {
                $('.dialog-msg').fadeOut(50, function() {
                    $(this).remove();
                });
            });
            $('*[href]').on('click',function (event) {
                window.location = $(this).attr('href');
            });
        }); 
    </script>
    <script src="../assets/js/sales.js"></script>
    <script src="../assets/js/purchase.js"></script>
</body>
{{/if}}

</html>