<div class="container-fluid">
    {{#compareTwoValues view 'Sales' operator="==="}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Sales Report</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/reports/monthlySalesByCustomer')" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Monthly Sales By Customer</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Php {{salesByCustomer.grandTotal}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/reports/monthlyEarnings');" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Monthly Gross Profit</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Php {{grossProfit}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
    </div>
    {{/compareTwoValues}}
    {{#compareTwoValues view 'Purchasing' operator="==="}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Purchasing Report</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/MonthlyPurchaseperProduct')" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Monthly Purchase Per Product</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>Php 1,010,880.00</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/AverageDailyPurchase');" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Average Daily Purchases </span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>0.6087</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
    </div>
    {{/compareTwoValues}}
    {{#compareTwoValues view 'Logistics' operator="==="}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Logistics Report</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/LogiReport2')" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Monthly Sales Deliveries</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>350 Deliveires</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2" style="cursor: pointer;"><a onclick="window.open('/LogiReport1');" class="stretched-link">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Monthly Purchase Deliveries</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>345 Deliveries</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </a></div>
        </div>
    </div>
    {{/compareTwoValues}}
</div>