<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="color: rgb(0,0,0);">Sales Records</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="card" id="TableSorterCard-1">
        <div class="card-header py-3">
            <div class="row table-topper align-items-center">
                <div class="col-12 col-sm-5 col-md-6 text-left" style="margin: 0px;padding: 5px 15px;">
                    <p class="text-primary m-0 font-weight-bold"></p>
                    <div class="d-inline-flex dataTables_length" id="dataTable_length" aria-controls="dataTable"><label class="d-flex float-right align-items-xl-center">Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;</label></div>
                </div>
                <div class="col-12 col-sm-7 col-md-6 text-right" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="margin: 2px;">Reset Filter</button></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-sm table tablesorter" id="ipi-table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">Status</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">Date</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">DR</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">CUSTOMER</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">PRODUCT</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">QTY</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">PRICE</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">TOTAL AMOUNT</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">PAYMENT STATUS</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">ORDER TYPE</th>
                                <th class="text-center" style="color: rgb(123,124,222);background: rgb(248,249,252);border-style: none;">DAMAGED BAGS</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(255,141,0);" href="sales-records-detailed.html">Pending</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td>ABC Hardware<br></td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Unpaid<br></td>
                                <td>Delivery<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(255,141,0);" href="sales-records-detailed.html">Pending</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td>DEF Warehouse</td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Unpaid</td>
                                <td>Delivery</td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(255,141,0);" href="sales-records-detailed.html">Pending</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>FCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Unpaid<br></td>
                                <td>Delivery<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(255,141,0);" href="sales-records-detailed.html">Pending</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>FCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Unpaid<br></td>
                                <td>Delivery<br></td>
                                <td>5<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(0,56,255);" href="sales-records-detailed.html">Processing</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid<br></td>
                                <td>Delivery<br></td>
                                <td>1<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(0,56,255);" href="sales-records-detailed.html">Processing</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid</td>
                                <td>Pick-up<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(15,108,0);" href="sales-records-detailed.html">Complete</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>FCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid<br></td>
                                <td>Pick-up<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(15,108,0);" href="sales-records-detailed.html">Complete</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid<br></td>
                                <td>Pick-up<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(15,108,0);" href="sales-records-detailed.html">Complete</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>FCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid<br></td>
                                <td>Pick-up<br></td>
                                <td>0<br></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary text-center btn-sm reset" role="button" style="padding: 5px;margin: 2px;background: rgb(15,108,0);" href="sales-records-detailed.html">Complete</a></td>
                                <td>01/10/2021<br></td>
                                <td>20200106<br></td>
                                <td><br></td>
                                <td>RCC</td>
                                <td>648 bags<br></td>
                                <td>Php 210.00</td>
                                <td>Php 29,343.00<br></td>
                                <td>Paid<br></td>
                                <td>Pick-up<br></td>
                                <td>0<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-header py-3">
            <div class="row table-topper align-items-center">
                <div class="col-12 col-sm-5 col-md-6 text-left" style="margin: 0px;padding: 5px 15px;">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-7 col-md-6 text-right" style="margin: 0px;padding: 5px 15px;">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>