

  
    <div class="col" style="background: rgb(3,52,97);margin-bottom: 15px;padding: 5px;">
        <div><img class="d-block" src="assets/img/cropped_logo.png" style="width: 80px;margin-left: auto;margin-right: auto;">
            <h5 class="text-center" style="margin-bottom: 0px;margin-top: 5px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;font-size: 18px;">JM AQUINO TRADINGS AND SERVICES</h5>
            <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;">Monthly Purchase per Product Report</h6>
            <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;">For the Month February 2021</h6>
              <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif; font-size: 0.8rem;">As of February 6, 2021</h6>
        </div>
    </div>
    <div class="d-block" style="background: #033461;">
        <h5 style="font-family: Alata, sans-serif;font-size: 16px;font-weight: normal;padding: 3px;margin-bottom: 2px;color: rgb(255,255,255);">FCC</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">LO Number</th>
                    <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Purchase Date</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Buying Price</th>
                    <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Quantity</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding: 2px;">
                    <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 323242</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/01/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">210.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">136,080.00</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">LO 432423</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">02/02/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">210.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">136,080.00</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">LO 432432</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">02/03/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">210.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">136,080.00</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">LO 43242</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">02/04/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">210.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">136,080.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xl-2 offset-xl-8" style="padding-right: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="Total FCC Purchase" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
        <div class="col" style="padding-left: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="544, 320.00" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
    </div>
    <div class="d-block" style="background: #033461;">
        <h5 style="font-family: Alata, sans-serif;font-size: 16px;font-weight: normal;padding: 3px;margin-bottom: 2px;color: rgb(255,255,255);">RCC</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">LO Number</th>
                    <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Purchase Date</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Buying Price</th>
                    <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Quantity</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding: 2px;">
                    <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/01/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                </tr>
                <tr style="padding: 2px;">
                    <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/02/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                </tr>
                <tr style="padding: 2px;">
                    <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/03/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                </tr>
                <tr style="padding: 2px;">
                    <td style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">LO 30087</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-weight: normal;font-size: 12px;border-style: none;padding: 3px;">02/04/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">180.00</td>
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">116,640.00</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;"></tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xl-2 offset-xl-8" style="padding-right: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="Total RCC Purchase" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
        <div class="col" style="padding-left: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="466,560.00" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 offset-xl-8" style="padding-right: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="Total Purchase" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: center;padding: 3px;"></div>
        </div>
        <div class="col" style="padding-left: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="1,010,880.00" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
    </div>
    <div class="col-xl-4 offset-xl-8" style="padding: 0px;">
        <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"></div>
    </div>
    <div class="footer-clean" style="padding: 0px;">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col-sm-4 col-md-3 col-xl-3 item" style="text-align: center;"></div>
                    <div class="col footer">
                        <h3 style="text-align: right;font-weight: normal;font-family: Alata, sans-serif;font-size: 14px;">Page 1 of 1</h3>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>


