.nav-item-name {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #033461;
}

.nav-item-icon {
  width: 30px;
  height: 30px;
}

.nav-item-span {
  font-size: 16px;
  margin-left: 10px;
}

.nav-link.active {
  background: #f7f8fb;
}
.nav-link.active span {
  font-weight: bold;
  color: rgb(3,52,97);
}

.dropdown-menu-a {
  color: rgb(199,212,224);
  margin-left: 15px;
}

.drop-cont.dropdown-menu {
  background: rgb(3,52,97);
  border-color: rgba(133,135,150,0);
}

.dropdown-item.a {
  color: rgb(205,214,224);
  background: rgb(3,52,97);
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
}

.dropdown-item.a.active {
  background: rgb(248, 249, 252);
  font-weight: bold;
  color: rgb(3,52,97);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, select {
  text-transform: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
  text-align: left;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  /*background-color: #2e59d9;*/
  /*border-color: #2653d4;*/
}
