.report-value {
  font-weight: 800;
  color: rgb(99,99,99);
  text-align: right;
}

.report-upper-table {
  border-left: 1px solid rgb(205,205,205);
}

.status-data {
	margin-bottom: 0px;
	color: rgb(255,255,255);
	text-align: center;
}

.processing {
	background: #36b9cc;
	border-radius: 5px;
	padding: 2px;
	min-height: 45px;
	box-shadow: 0px 0px 1px;
}

.pending {
	background: #e07027;
	border-radius: 5px;
	padding: 2px;
	min-height: 45px;
	box-shadow: 0px 0px 1px;
}

.completed {
	background: #40c88a;
	border-radius: 5px;
	padding: 2px;
	min-height: 45px;
	box-shadow: 0px 0px 1px;
}

.stretched-link:hover {
	text-decoration: none;
}

.stretched-link:hover {
	transform: scale(1.05);
}

.bg-completed {
	background: #40c88a;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

.bg-pending {
	background: #e07027;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

.bg-processing {
	background: #36b9cc;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

