select[readonly] {
	background: #eee;
	pointer-events: none;
	touch-action: none;
}

.driver-clickable {
	cursor: pointer;
}

.driver-clickable:hover {
	background-color: #E8E8E8 !important;
}

.dialog-msg {
  position: absolute !important;
  top: 10%;
  left: 47%;
  background-color: white;
  z-index: 9999;
  width: 300px;
  height: 80px;
  border: solid 1px gainsboro;
  border-radius: 5px;
  box-shadow: 10px;

	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	opacity: 1;
}

.fa.fa-circle {
	background: white !important;
    border-radius: 0px;
    padding: 0px !important;
    min-height: auto !important;
    min-width: auto !important;
    box-shadow: none !important;
}

.fa.fa-circle.Pending {
	color: rgb(224,112,39);
}

.fa.fa-circle.Processing {
	color: #1c59ff;
}

.fa.fa-circle.Complete {
	color: #1c59ff;
}


.chart-no-data {
	top:40%;
	position:absolute;
	font-size: 24px;
	width: 100%;
}

.regular-input {
	border: none;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	padding: none;
	width: auto;
	background: none;
	max-width: 125px;
}
.regular-input:focus {
	outline: none;
}

*[href] {
	cursor: pointer;
}

.cursor {
	cursor: pointer;
}
.report-value {
  font-weight: 800;
  color: rgb(99,99,99);
  text-align: right;
}

.border-left-Pending {
	border-left: .25rem solid #e07027 !important;
	height: 50px;
	width: 85%;
	margin: auto;
}

.opaque {
	opacity: 0.5;
}

.border-left-Completed {
	border-left: .25rem solid #40c88a !important;
	height: 50px;
	width: 85%;
	margin: auto;
}

.border-left-Processing {
	border-left: .25rem solid #1c59ff !important;
	height: 50px;
	width: 85%;
	margin: auto;
}

.report-upper-table {
  border-left: 1px solid rgb(205,205,205);
}

.invert {
	transform: scaleX(-1);
}

.status-data {
	margin-bottom: 0px;
	color: rgb(255,255,255);
	text-align: center;
}

.card > div > .status-data {
	color: black;
	font-size: .8rem;
}

.btn.Pending {
	border-color: transparent !important;
}

.btn.Pending:hover {
	background: #c96423 !important;
}

.btn.Completed {
	border-color: transparent !important;
}

.btn.Completed:hover {
	background: #39B47C !important;
}

.Processing {
	background: #1c59ff;
	border-radius: 5px;
	padding: 2px;
	/*min-height: 45px;*/
	min-width: 100%;
	box-shadow: 0px 0px 1px;
}

.Pending {
	background: #e07027;
	border-radius: 5px;
	padding: 2px;
	/*min-height: 45px;*/
	min-width: 100%;
	box-shadow: 0px 0px 1px;
}

.Completed {
	background: #40c88a;
	border-radius: 5px;
	padding: 2px;
	/*min-height: 45px;*/
	min-width: 100%;
	box-shadow: 0px 0px 1px;
}

.sale_div{
	background: #82aecf;
	border-radius: 5px;
	padding: 2px;
	/*min-height: 45px;*/
	min-width: 100%;
	box-shadow: 0px 0px 1px;
}
.purchase_div{
	background: #a680a1;
	border-radius: 5px;
	padding: 2px;
	/*min-height: 45px;*/
	min-width: 100%;
	box-shadow: 0px 0px 1px;
}




.stretched-link:hover {
	text-decoration: none;
}

.stretched-link:hover {
	transform: scale(1.05);
}

.bg-completed {
	background: #40c88a;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

.bg-pending {
	background: #e07027;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

.bg-processing {
	background: #36b9cc;
	padding: 5px;
	margin: 2px;
	width: 80px;
}

.border-top {
	border-top: solid 0.5px #989898;
}

.unseen {
	background-color: #edf2f7;
}

.unseen:hover {
	background-color: #dbe4f0;
}

.seen:hover {
	background-color: #E8E8E8;
}

.Unpaid {
	color : red;
}
.paid{
    color:#4ce600;
}