<!DOCTYPE html>
<html style="text-align: center;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>report</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="col" style="background: rgb(3,52,97);margin-bottom: 15px;padding: 5px;">
        <div><img class="d-block" src="assets/img/cropped_logo.png" style="width: 80px;margin-left: auto;margin-right: auto;">
            <h5 class="text-center" style="margin-bottom: 0px;margin-top: 5px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;font-size: 18px;">JM AQUINO TRADINGS AND SERVICES</h5>
            <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;">Monthly Purchase Delivery Report</h6>
            <h6 class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;">For the Month of February 2021</h6>
            <p class="text-center" style="margin-bottom: 0px;background: rgba(251,179,90,0);color: rgb(255,255,255);font-family: Alata, sans-serif;font-weight: 100;font-size: 0.8rem;">As of February 06, 2021</p>
        </div>
    </div>
    <div class="d-block" style="background: #033461;">
        <h5 style="font-family: Alata, sans-serif;font-size: 16px;font-weight: normal;padding: 3px;margin-bottom: 2px;color: rgb(255,255,255);">Revenue</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="text-center" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Transaction Date</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Quantity</th>
                    <th class="text-right" style="border-style: none;background: rgb(251,179,90);font-family: Alata, sans-serif;font-size: 14px;padding: 3px;">Deliveries Made</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/01/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">1648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">4</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/02/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">2648</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">3</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/03/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">3294</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">5</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/04/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">2321</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">4</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/05/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">2351</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">4</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/06/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">1235</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">3</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/07/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/08/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/09/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/10/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/11/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/12/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/13/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/14/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/15/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/16/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/17/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/18/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/19/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/20/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/21/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/22/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/23/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/24/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/25/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/26/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/27/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
                <tr style="font-size: 12px;font-family: Alata, sans-serif;font-weight: normal;border-style: none;">
                    <td class="text-center" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">01/28/2021</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                    <td class="text-right" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: normal;border-style: none;padding: 3px;">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xl-2 offset-xl-7" style="padding-right: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="Total Deliveries" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
        <div class="col" style="padding-left: 0px;">
            <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"><input class="form-control-plaintext" type="text" value="33" readonly="" style="font-family: Alata, sans-serif;font-size: 12px;font-weight: bold;text-align: right;padding: 3px;"></div>
        </div>
    </div>
    <div class="d-block" style="background: #033461;"></div>
    <div class="col-xl-4 offset-xl-8" style="padding: 0px;">
        <div class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background: #fbb35a;margin-bottom: 15px;"></div>
    </div>
    <div class="footer-clean" style="padding: 0px;">
        <footer>
            <div class="container">
                <div class="row justify-content-center" style="position: static;">
                    <div class="col"></div>
                    <div class="col-sm-4 col-md-3 col-xl-3 item" style="text-align: center;"></div>
                    <div class="col footer">
                        <h3 style="text-align: right;font-weight: normal;font-family: Alata, sans-serif;font-size: 14px;">Page 1 of 1</h3>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>